@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media (max-width: 1599px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 91%;
  }
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/lato-thin-webfont.woff2") format("woff2"), url("../fonts/lato-thin-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/lato-thinitalic-webfont.woff2") format("woff2"), url("../fonts/lato-thinitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/lato-light-webfont.woff2") format("woff2"), url("../fonts/lato-light-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/lato-lightitalic-webfont.woff2") format("woff2"), url("../fonts/lato-lightitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/lato-italic-webfont.woff2") format("woff2"), url("../fonts/lato-italic-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/lato-bolditalic-webfont.woff2") format("woff2"), url("../fonts/lato-bolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/lato-black-webfont.woff2") format("woff2"), url("../fonts/lato-black-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/lato-blackitalic-webfont.woff2") format("woff2"), url("../fonts/lato-blackitalic-webfont.woff") format("woff");
}

.header {
  background-color: #222222;
  position: relative;
}

.header .header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 75px;
}

.header .header__logo {
  margin: 0 41px 0;
}

.header .header__search:hover {
  opacity: 0.5;
}

.header .header__link {
  margin: 0 0 0 31px;
}

.header .header__link:hover {
  opacity: 0.5;
}

.header .header__link:active {
  opacity: 0.5;
}

.header .header__menu-btn {
  border: none;
  background-color: transparent;
}

.header .header__menu-btn:hover {
  opacity: 0.5;
}

.header .header__nav {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  right: 0;
  padding: 37px 34px;
  width: 232px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.header .display-block {
  display: block;
}

.header .header__nav-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .header .header__link {
    display: none;
  }
}

.menu-item__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  color: #F16D7F;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.menu-item__sub-list {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  color: #6F6E6E;
  margin-bottom: 20px;
  margin-left: 21px;
}

.menu-item__sub-item {
  margin-bottom: 11px;
}

.menu-item__sub-item:hover,
.menu-item__sub-item:active,
.menu-item__sub-item:focus {
  font-weight: bold;
}

.brand .brand__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.brand .brand__wrp {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 0 0 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .brand .brand__wrp {
    min-height: 363px;
    padding: 0 0 0 68px;
  }
}

@media (max-width: 767px) {
  .brand .brand__wrp {
    min-height: 363px;
    padding: 0 0 0 83px;
  }
}

.brand .brand__img {
  width: 50%;
}

@media (max-width: 1599px) {
  .brand .brand__img {
    height: auto;
  }
}

@media (max-width: 767px) {
  .brand .brand__img {
    display: none;
  }
}

.brand .brand__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
  display: none;
}

.brand .br-display-block {
  display: block;
}

.brand .brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  position: relative;
}

.brand .brand__title::before {
  height: 100%;
  width: 12px;
  background-color: #F26376;
  content: '';
  position: absolute;
  left: -16px;
  top: 10px;
}

@media (max-width: 1599px) {
  .brand .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand .brand__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: "Lato", "Arial", sans-serif;
}

@media (max-width: 1599px) {
  .brand .brand__subtitle {
    font-size: 29px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand .brand__subtitle-pink {
  color: #F16D7F;
  display: initial;
}

.sales {
  padding: 65px 0 0 0;
}

.sales .sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sales .sales__item {
  min-height: 260px;
  width: 31%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .sales .sales__item {
    min-height: 168px;
  }
}

@media (max-width: 767px) {
  .sales .sales__item {
    width: 100%;
    min-height: 247px;
  }
}

.sales .sales__item:hover {
  opacity: 0.9;
}

.sales .sales__item:active {
  opacity: 0.9;
}

.sales .sales__item-narrow {
  margin: 0 0 30px 0;
}

.sales .sales__item-wide {
  width: 100%;
  min-height: 180px;
  background-size: cover;
}

@media (max-width: 1599px) {
  .sales .sales__item-wide {
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .sales .sales__item-wide {
    min-height: 111px;
  }
}

.sales .sales__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
}

.sales .sales__text-wide {
  margin: 65px 0 0  0;
}

.sales .sales__item-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: "Lato", "Arial", sans-serif;
  color: #F26376;
  text-transform: uppercase;
}

.sales .sales-woman {
  background-image: url(../img/sales-1.jpg);
}

.sales .sales-man {
  background-image: url(../img/sales-2.jpg);
}

.sales .sales-kid {
  background-image: url(../img/sales-3.jpg);
}

.sales .sales-acc {
  background-image: url(../img/sales-4.jpg);
}

.fetured-items {
  padding: 96px 0 96px 0;
  text-align: center;
}

@media (max-width: 1084px) {
  .fetured-items {
    padding: 155px 0 65px 0;
  }
}

.fetured-items .fetured-items__heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  margin: 0 0 6px 0;
}

.fetured-items .fetured-items__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
}

.fetured-items .fetured-items__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 48px 0 18px 0;
  text-align: left;
}

@media (max-width: 1084px) {
  .fetured-items .fetured-items__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .fetured-items .fetured-items__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.fetured-items .fetured-items__item {
  width: 360px;
  margin: 0 0 30px 0;
}

@media (max-width: 767px) {
  .fetured-items .fetured-items__item {
    width: 100%;
  }
}

.fetured-items .fetured-items__item:hover .fetured-items__img {
  background-color: rgba(58, 56, 56, 0.86);
  -webkit-filter: brightness(40%) blur(1px);
          filter: brightness(40%) blur(1px);
  /* Размытие */
}

.fetured-items .fetured-items__item:hover .fetured-items__button {
  display: block;
}

.fetured-items .fetured-items__button:hover,
.fetured-items .fetured-items__button:active,
.fetured-items .fetured-items__button:focus {
  font-weight: bold;
}

.fetured-items .fetured-items__wrp {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fetured-items .fetured-items__button {
  position: absolute;
  height: 43px;
  width: 138px;
  border: 1px solid #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  display: none;
}

.fetured-items .fetured-items__button::before {
  content: '';
  height: 24px;
  width: 26px;
  background-image: url(../img/cart.svg);
  background-size: 24px 26px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 30%);
          transform: translate(0, 30%);
}

.fetured-items .fetured-items__btn {
  border: 1px solid #FF6A6A;
  color: #F26376;
  text-align: center;
  vertical-align: middle;
  margin: 50px 0 0 0;
  text-decoration: none;
  padding: 14px 38px 14px 38px;
}

.fetured-items .fetured-items__btn:hover,
.fetured-items .fetured-items__btn:active,
.fetured-items .fetured-items__btn:focus {
  color: #FFFFFF;
  background-color: #F26376;
}

.fetured-items .fetured-items__title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 25px 0 0 0;
}

.fetured-items .fetured-items__desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  margin: 12px 0 18px 0;
}

.fetured-items .fetured-items__features {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  color: #F16D7F;
}

.benefits {
  background-color: #222222;
  padding: 104px;
}

@media (max-width: 1599px) {
  .benefits {
    padding: 0 0 64px 0;
  }
}

@media (max-width: 767px) {
  .benefits {
    padding: 0 0 81px 0;
  }
}

.benefits .benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .benefits .benefits__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits .benefits__item {
  max-width: 360px;
  text-align: center;
  margin: 0 30px 0 0;
}

@media (max-width: 1599px) {
  .benefits .benefits__item {
    margin: 48px 0 0 0;
  }
}

.benefits .benefits__heading {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  color: #FFFFFF;
  margin: 20px 0 16px 0;
}

.benefits .benefits__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  color: #FBFBFB;
}

.benefits .benefits__img:hover {
  opacity: 0.5;
}

.registration-title {
  background-color: #F8F3F4;
}

.registration-title .registration-title__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 148px;
}

.registration-title .registration-title__desc {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
}

.registration .registration__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .registration .registration__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.registration .registration__form {
  width: 359px;
  padding: 64px 0 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1599px) {
  .registration .registration__form {
    padding: 40px 0 96px 0;
  }
}

@media (max-width: 767px) {
  .registration .registration__form {
    padding: 40px 0 64px 0;
    width: 100%;
  }
}

.registration .registration__form-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  color: #B1B1B1;
  margin-top: 15px;
}

.registration .registration__form-btn {
  height: 50px;
  width: 167px;
  padding-left: 29px;
  color: #FFFFFF;
  background-color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  border: none;
  text-align: left;
  position: relative;
  margin-top: 39px;
}

.registration .registration__form-btn::after {
  content: '';
  height: 24px;
  width: 26px;
  background-image: url(../img/vector.svg);
  background-size: 24px 26px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.registration .registration__form-label {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  color: #222222;
}

.registration .registration__form-input {
  margin-top: 20px;
  height: 44px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  padding-left: 16px;
  border: 1px solid #A4A4A4;
  color: #B1B1B1;
}

.registration .registration__form-input:hover,
.registration .registration__form-input:focus {
  outline-color: #F26376;
}

.registration .registration__form-btn:hover,
.registration .registration__form-btn:focus,
.registration .registration__form-btn:active {
  opacity: 0.5;
}

.registration .registration__form-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31px;
  margin-bottom: 33px;
}

.registration .registration__form-radio {
  margin-right: 10px;
}

.registration .registration__form-radio-lbl {
  margin-right: 20px;
}

.registration .registration__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  margin-top: 64px;
  margin-left: 128px;
}

@media (max-width: 1599px) {
  .registration .registration__text {
    margin-top: 40px;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .registration .registration__text {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 100px;
  }
}

.registration .registration__heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
}

.registration .registration__desc {
  margin-top: 22px;
  margin-bottom: 22px;
}

.registration .registration__item {
  margin-bottom: 16px;
  position: relative;
  margin-left: 22px;
}

.registration .registration__item::before {
  content: '';
  height: 16px;
  width: 20px;
  background-image: url(../img/check.svg);
  background-size: 16px 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-120%, 50%);
          transform: translate(-120%, 50%);
}

.footer .footer__container {
  background: url(../img/footer-back.jpg) no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 448px;
  padding: 86px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1599px) {
  .footer .footer__container {
    min-height: 614px;
  }
}

@media (max-width: 767px) {
  .footer .footer__container {
    min-height: 550px;
  }
}

.footer .footer__data {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .footer .footer__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer__info {
  max-width: 360px;
  text-align: center;
  background-color: transparent;
}

.footer .footer__form-info {
  max-width: 557px;
  text-align: center;
  background-color: transparent;
}

@media (max-width: 1599px) {
  .footer .footer__form-info {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .footer .footer__form-info {
    margin-top: 59px;
  }
}

.footer .footer__form {
  margin: 32px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__form-input {
  height: 49px;
  width: 256px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  color: #222224;
  background-color: #E1E1E1;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  margin: 0;
  padding-left: 22px;
  padding-right: 0;
}

.footer .footer__form-btn {
  height: 49px;
  width: 85px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  text-align: center;
  color: #FFFFFF;
  background-color: #E05C6E;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  margin: 0;
  padding-left: 0;
}

.footer .footer__form-input:hover,
.footer .footer__form-input:focus,
.footer .footer__form-input:active {
  outline-color: #F26376;
}

.footer .footer__form-btn:hover {
  opacity: 0.5;
}

.footer .footer__form-btn:focus,
.footer .footer__form-btn:active {
  color: #222222;
}

.footer .footer__desc {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
}

.footer .footer__heading {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
}

.footer .footer__subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
}

.footer .footer__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 79px;
}

@media (max-width: 767px) {
  .footer .footer__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer .footer__copyright {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
}

.footer .footer__links {
  background-color: #222222;
  color: #FBFBFB;
}

@media (max-width: 767px) {
  .footer .footer__links {
    padding-top: 50px;
  }
}

.footer .footer__img {
  fill: #222222;
}

.footer .footer__link:hover .footer__img {
  fill: #FFFFFF;
}

.footer .footer__link:active .footer__img {
  fill: #FFFFFF;
}

.footer .footer__link:focus .footer__img {
  fill: #FFFFFF;
}

.footer .footer__img-path {
  fill: #FFFFFF;
}

.footer .footer__link:hover .footer__img-path {
  fill: #F26376;
}

.footer .footer__link:active .footer__img-path {
  fill: #F26376;
}

.footer .footer__link:focus .footer__img-path {
  fill: #F26376;
}

.footer .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__item {
  margin: 0 0 0 8px;
}

.order {
  padding-top: 96px;
  padding-bottom: 128px;
}

@media (max-width: 1599px) {
  .order {
    padding-top: 59px;
    padding-bottom: 147px;
  }
}

@media (max-width: 767px) {
  .order {
    padding-top: 39px;
    padding-bottom: 96px;
  }
}

.order .order__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1599px) {
  .order .order__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.order .order_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.order .order_img {
  width: 100%;
}

.order .order_img-wrp {
  max-width: 262px;
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
  width: 30%;
}

.order .order_info {
  padding-top: 22px;
  padding-left: 31px;
  max-width: 262px;
}

@media (max-width: 767px) {
  .order .order_info {
    padding-top: 13px;
    padding-left: 17px;
    max-width: 144px;
  }
}

.order .order_header {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 42px;
}

@media (max-width: 767px) {
  .order .order_header {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: "Lato", "Arial", sans-serif;
    margin-bottom: 25px;
  }
}

.order .order_desc {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  color: #575757;
}

@media (max-width: 767px) {
  .order .order_desc {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    font-style: "Lato", "Arial", sans-serif;
  }
}

.order .order_desc-colored {
  color: #F16D7F;
}

.order .order_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px;
}

@media (max-width: 1599px) {
  .order .order_buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .order .order_buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.order .order_link {
  height: 49px;
  max-width: 234px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 767px) {
  .order .order_link {
    max-width: 174px;
  }
}

.order .order_link:hover,
.order .order_link:focus,
.order .order_link:active {
  opacity: 0.5;
}

.order .order_btn {
  height: 49px;
  max-width: 234px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .order .order_btn {
    max-width: 174px;
  }
}

.order .order_btn:hover,
.order .order_btn:focus,
.order .order_btn:active {
  opacity: 0.5;
}

.order .order_form {
  margin-left: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1599px) {
  .order .order_form {
    margin-left: 0px;
    margin-top: 65px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .order .order_form {
    margin-left: 0px;
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.order .order_form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1599px) {
  .order .order_form-inputs {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.order .order_label {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  color: #222222;
}

.order .order_input {
  margin-top: 20px;
  height: 45px;
  width: 360px;
  padding-left: 16px;
}

@media (max-width: 1599px) {
  .order .order_input {
    max-width: 360px;
  }
}

@media (max-width: 767px) {
  .order .order_input {
    width: 91%;
  }
}

.order .order_input:hover,
.order .order_input:focus {
  outline-color: #F26376;
}

.order .order_btn-quote {
  margin-top: 24px;
  width: 100px;
  height: 34px;
  text-transform: uppercase;
  color: #4A4A4A;
  background-color: #FFFFFF;
  border: 1px solid #4A4A4A;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
}

.order .order_btn-quote:hover,
.order .order_btn-quote:focus,
.order .order_btn-quote:active {
  opacity: 0.5;
}

.order .order_total {
  margin-top: 57px;
  background: #F5F3F3;
  padding-top: 39px;
  padding-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 1599px) {
  .order .order_total {
    margin-top: 40px;
    margin-left: 15px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 767px) {
  .order .order_total {
    margin-top: 57px;
    margin-left: 0px;
  }
}

.order .order_total::before {
  height: 1px;
  width: 275px;
  background-color: #E2E2E2;
  content: '';
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  top: 104px;
}

.order .order_text-total {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  margin-right: 34px;
}

.order .order_desc-total {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 39px;
  margin-right: 34px;
}

.order .order_link-total {
  height: 50px;
  width: 273px;
  text-transform: uppercase;
  border: none;
  background-color: #F16D7F;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: "Lato", "Arial", sans-serif;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.order .order_link-total:hover,
.order .order_link-total:focus,
.order .order_link-total:active {
  opacity: 0.5;
}

.product__info {
  height: 600px;
  border: 1px solid #6F6E6E;
  z-index: 100;
  margin: 0 auto;
  margin-top: -60px;
  margin-bottom: 129px;
  position: relative;
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */