$black: #222222;
$light-black: #222224;

$light-pink: #F1E4E6;
$pale-pink: #f3c8ce;
$pink: #F16D7F;
$dark-pink: #F26376;
$btn-pink: #FF6A6A;

$milk-white: #FBFBFB;
$white: #FFFFFF;
$grey: #6F6E6E;

$dark-grey: #4A4A4A;
$light-grey: #E2E2E2;

$font-lato: 'Lato', 'Arial', sans-serif;

$tablet-width: 1599px;
$tablet-mid-width: 1084px;
$mobile-width: 767px;