.menu-item__title {
    @include font(14px, 17px, 400, $font-lato);
    color: $pink;  
    text-transform: uppercase;
    margin-bottom: 12px;        
}

.menu-item__sub-list {
    margin-bottom: 20px;
    margin-left: 21px;
}

.menu-item__sub-item {
    margin-bottom: 11px;
} 

.menu-item__sub-item:hover,
.menu-item__sub-item:active,
.menu-item__sub-item:focus {
    font-weight: bold;
}

.menu-item__link {
    text-decoration: none;
    @include font(14px, 17px, 400, $font-lato);
    color: $grey;    
}