.order {
    padding-top: 96px;
    padding-bottom: 128px;

    @include tablet {
        padding-top: 59px;
        padding-bottom: 147px;       
    }

    @include mobile {
        padding-top: 39px;
        padding-bottom: 96px;       
    }

    .order__wrp {
        display: flex;
        justify-content: space-between;
        
        @include tablet {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .order__item {
        display: flex; 
        box-shadow: 10px 5px 10px rgba(0,0,0,0.5);  
        margin-bottom: 40px;
    }

    .order__img {
        width: 100%;                 
    }

    .order__img-wrp {
        max-width: 262px; 
        flex-grow: 0.5;
        width: 30%;           
    }

    .order__info {
        padding-top: 22px;
        padding-left: 31px;
        max-width: 262px;

        @include mobile {
            padding-top: 13px;
            padding-left: 17px;
            max-width: 144px;            
        }        
    }

    .order__header {
        @include font(24px, 29px, 400, $font-lato);
        text-transform: uppercase;
        margin-bottom: 42px;

        @include mobile {
            @include font(16px, 19px, 400, $font-lato);  
            margin-bottom: 25px;  
        }
    }

    .order__desc {
        @include font(22px, 26px, 400, $font-lato);  
        color: #575757; 

        @include mobile {
            @include font(14px, 16px, 400, $font-lato);    
        }            
    }

    .order__desc-colored {
        color: $pink;    
    }

    .order__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 72px; 

        @include tablet {
            justify-content: space-around;   
        }

        @include mobile {
            justify-content: center;   
        }        
    }

    .order__link {
        height: 49px;
        max-width: 234px;
        text-transform: uppercase;
        border: 1px solid #A4A4A4;
        background-color: $white;
        text-align: center;
        text-decoration: none; 
        vertical-align: center; 
        padding-top: 15px;
        box-sizing: border-box;
        @include font(14px, 17px, 300, $font-lato); 
        color: #000000; 
        flex-grow: 1;   
        transition: transform 300ms;

        @include mobile {
            max-width: 174px;   
        }        
    }

    .order__link:hover,
    .order__link:focus,
    .order__link:active {
        /*opacity: 0.5;*/
        transform: scale(1.05);
    }

    .order__btn {
        height: 49px;
        max-width: 234px;
        text-transform: uppercase;
        border: 1px solid #A4A4A4;
        background-color: $white;
        @include font(14px, 17px, 300, $font-lato);
        color: #000000; 
        flex-grow: 1; 
        margin-right: 10px;
        transition: transform 300ms;

        @include mobile {
            max-width: 174px;   
        }              
    }

    .order__btn:hover,
    .order__btn:focus,
    .order__btn:active {
        /*opacity: 0.5;*/
        transform: scale(1.05);
    }

    .order__form {
        margin-left: 128px; 
        display: flex;
        flex-direction: column; 
        
        @include tablet {
            margin-left: 0px; 
            margin-top: 65px;
            flex-direction: row;
            width: 100%;
            justify-content: center;
        }

        @include mobile {
            margin-left: 0px;
            margin-top: 50px; 
            flex-direction: column;  
        }        
    }

    .order__form-inputs {
        display: flex;
        flex-direction: column; 
        
        @include tablet {
            flex-grow: 1;
        }              
    }

    .order__label {
        @include font(16px, 19px, 300, $font-lato);
        text-transform: uppercase; 
        color: $black;  
    }

    .order__input {
        margin-top: 20px; 
        height: 45px;
        width: 360px;    
        padding-left: 16px;

        @include tablet {
            max-width: 360px;
        }
        @include mobile {
            width: 91%;
        }        
    }

    .order__input:hover,
    .order__input:focus {
        outline-color: $dark-pink;
    }

    .order__btn-quote {
        margin-top: 24px;   
        width: 100px;
        height: 34px;
        text-transform: uppercase;
        color: $dark-grey;
        background-color: $white;
        border: 1px solid $dark-grey;
        @include font(11px, 13px, 300, $font-lato);
        transition: opacity 300ms;
    }

    .order__btn-quote:hover,
    .order__btn-quote:focus,
    .order__btn-quote:active {
        opacity: 0.5;
    }

    .order__total {
        margin-top: 57px;
        background: #F5F3F3;
        padding-top: 39px;

        padding-bottom: 42px;
        display: flex;
        align-items:flex-end;
        flex-direction: column;

        position: relative;

        @include tablet {
            margin-top: 40px; 
            margin-left: 15px;      
            flex-grow: 1;          
        }

        @include mobile {
            margin-top: 57px; 
            margin-left: 0px;    
        }    
        
        &::before {
            height: 1px;
            width: 275px;
            background-color: $light-grey;
            content: ''; 
            position: absolute; 
            align-self: center; 
            top: 104px;      
        }        
    }

    .order__text-total {
        @include font(11px, 13px, 400, $font-lato);
        text-transform: uppercase;
        margin-right: 34px;       
    }

    .order__desc-total {
        @include font(16px, 19px, 300, $font-lato);
        text-transform: uppercase;
        margin-top: 12px;
        margin-bottom: 39px; 
        margin-right: 34px;                   
    }

    .order__link-total {
        height: 50px;
        width: 273px;
        text-transform: uppercase;  
        border: none;
        background-color: $pink;
        color: $white;
        text-align: center;
        text-decoration: none; 
        padding-top: 15px;
        box-sizing: border-box;           
        @include font(16px, 19px, 300, $font-lato);
        align-self: center;
    }

    .order__link-total:hover,
    .order__link-total:focus,
    .order__link-total:active {
        /*opacity: 0.5;*/
        -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; 
    }
}