.product__info {
    height: 600px;
    border: 1px solid $grey;
    z-index: 100;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 129px;  
    position: relative; 
    border: 1px solid #EAEAEA;
    background-color: $white; 
}